<div class="modal fade" id="oauthLogin" role=”dialog”>
  <div class="modal-dialog modal-sm modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class=”modal-title”>ログインする</h4>
      </div>
      <div class="modal-body">
        <small>ログインするとイベントの作成、イベントの参加ができるようになります。</small>
        <ul class="list-unstyled">
          <li><a href="/auth/twitter" class="btn-twitter btn-block">Twiiterでログインする</a></li>
          <li><a href="/auth/facebook" class="btn-facebook btn-block">Facebookでログインする</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
