@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;
$base-color: #337AB7;

/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.btn-login {
  border: 3px solid #FFF;
  border-radius: 4px;
  background-color: transparent;
  color: #FFF;
  font-size: 20px;
  padding: 18px 20px;
  margin: 40px 0px;
  display: inline-block;
}

.btn-login a {
  text-decoration: none;
}

.btn-login:hover {
  text-decoration: none;
  background-color: #FFF;
  color: $base-color;
}


/* universal */

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.mgn {
  margin-bottom: 30px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  letter-spacing: -2px;
  margin-bottom: 30px;
  font-size: 28px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: center;
  color: white;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-inverse {
    background-color: $base-color !important;
    border-color: $base-color !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff !important;
}

/* jumbotron */

.jumbotron {
  text-align: center;
}

.jumbotron h1 {
  font-size: 48px !important;
  color: white;
  font-weight: bold !important;
  margin-top: 120px !important;
}


/* forms */

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 30px;
  @include box_sizing;
}

.bootstrap-date {
  display: inline-block;
  width: auto;
}

input {
  height: auto !important;
}


/* message */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.alert {
  margin-top: 30px;
}

/* footer */

footer {
  margin: 30px 0px;
  padding: 10px 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}
